:root {
    font-size: 14px;
    --txt-ali : none;
    --txt-alin-ctr : center;
    --alin-itm : center;
    --txt-dec : none;
    --lst-style : none;
    --dsp-flex : flex;
    --dsp-grid : grid;
    --dsp-none : none;
    --clr-black : black;
    --clr-white : white;
    --gb-clr : #5c9ed496;
    --bx-shadow : 2px 2px 4px var(--clr-black);
}

html, body {
    margin : 0;
    padding : 0;
    font-family: "Ubuntu Sans Mono", serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

header {
    margin : 0;
    padding : 0.5rem;
    display: var(--dsp-flex);
    gap: 2rem;
    align-items: var(--alin-itm);
    position : fixed;
    top :0;
    left: 0;
    right: 0;
    border-bottom : 1px solid var(--clr-black);
    z-index: 10;
    background: linear-gradient(to right, rgba(92, 158, 212, 0.233), rgba(92, 158, 212, 0.8));
    border-radius: 10px; ;
    h2{
        margin :0;
        a {
            color: var(--clr-black);
            text-decoration: var(--txt-dec);
        }
    }
    figure {
        margin : 0;
        img {
        width: 50px;
        border-radius: 50%;
        }
    }
    nav {
        .burger{
            border: 1px solid var(--clr-black);
            font-size: 1.5rem;
            border-radius : 0.4rem;
            position: absolute;
            right: 1rem;
            top : 1.4rem;
        }
        .open {
            list-style : var(--lst-style);
            display: var(--dsp-none); /* have to active later */
            li a {
                color : var(--clr-black);
                text-decoration: var(--txt-dec);
            }
        }
    }
}

/* the main style of body */
main {
    margin: 0.3rem;
    margin-top : 4rem;
    h1 {
        text-align: var(--alin-itm);
    }
    .slide {
        position: relative; /* debut du slide */
        overflow: hidden; /* annuler le debordement */
        text-align: var(--txt-ali);
        figure{
            display: flex; /* photo side by side */
            width: 100%;
            margin: 0;
            padding: 0; 
            animation: slide 9s infinite; /* activer l'animation */
            img {
                width: 100%;
                height: auto;
                flex-shrink: 0;
            }

        }
    }
    /* accueil style */
    .accueil, .propos {
        margin: 1rem;
        box-shadow: var(--bx-shadow);
        padding: 0.7rem;
        border-radius: 0.5rem;
        margin-top: 0.2rem;
        text-align: var(--txt-alin-ctr);
        h2 {
            font-size: 1.5rem;
            text-align: var(--txt-alin-ctr);
        }
        > article figure {
            width: 100%;
            margin: 0;
        }
        p{
            text-align: start;
        }
    } 

    /* the main style of btn class */
    .btn {
        text-decoration: var(--txt-dec);
        padding : 0.7rem;
        box-shadow: var(--bx-shadow);
        border-radius: 1rem;
        &:hover {
            background-color: var(--clr-black);
            color: var(--clr-white);
        }
    }

    /* style for form */
    .contact {
        box-shadow: 2px 2px 4px var(--clr-black);
        border-radius: 1rem;
        color: var(--clr-white);
        background-color: var(--clr-black);
        fieldset {
            border: none;
        }
        h2{
            font-size: 1.5rem;
            text-align: var(--txt-alin-ctr);

        } 
        figure {
            img {
            width: 80px;
            border-radius: 50%;
            border: 2px solid rgba(175, 155, 43, 0.541);
            margin-right: 0;
            margin-left: 60px;
            }
        }
        input:not([type="checkbox"]),
        select,
        textarea {
            width: 100%;
            box-sizing: border-box;
            text-align: var(--txt-alin-ctr);
            margin : 0.3rem;
        }
        .submit {
            text-align: var(--txt-alin-ctr);
            .sub:hover {
                background-color: var(--clr-black);
                color: var(--clr-white);
            }
        }
    }
    
}

/* footer style */
footer {
    p{
        font-size: 1rem;
        padding: 0.5rem;
        border-top : 1px solid var(--clr-black);
        margin-bottom : 0;
        background: linear-gradient(to right, rgba(92, 158, 212, 0.233), rgba(92, 158, 212, 0.8));
    }
}

/* mettre les images en mouvement  et fait en tout 100%*/
@keyframes slide {
        0%, 20% {
            transform : translateX(0); 
        }
        33.33%, 53.33% {
            transform : translateX(-100%);
        }
        66.6%, 86.66% {
            transform : translateX(-200%);
        }
        100% {
            transform : translateX(0);
    }
}

/* query for 768 px screen */
@media (min-width: 768px) {
    :root {
        font-size: 20px;
    }
    header {
        justify-content: space-between;
        h2 {
            font-size: 2rem;
        }
        nav .burger {
            top : 15px;
        }
    }
}